[mysqld]
plugin-load="validate_password=validate_password.so"
validate_password_length=16
validate_password_mixed_case_count=1
validate_password_number_count=1
validate_password_special_char_count=0
validate_password_policy='MEDIUM'